body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    line-height: 3;
    font-size: 120%;
}

body {
    background-color: #fff;
    color: #333;
}

.dark-theme {
    background-color: #2c2c2c;
    color: #ffffff;
}

.dark-theme button {
    background-color: #424242;
    color: #ffffff;
}

.dark-theme button:hover {
    background-color: #535353;
}

.dark-theme a {
    color: #1a73e8;
}
.dark-theme a:hover {
    color: #ffffff;
}

.dark-theme .divider {
    border-top: 3px solid white;
    margin-top: 5px;
}

.dark-theme .section {
    background-color: #333333;
    border: 1px solid #ffffff;
}

.dark-theme .section_left__section_added {
    background-color: #333333;
}

.dark-theme .section_left {
    background-color: #333333;
    border-left: 5px solid #ffffff;
}

.dark-theme h1, .dark-theme h2 {
    color: #ffffff;
}

.dark-theme img {
    border: 2px solid #ffffff;
}

.dark-theme .section_left__text-and-links__work-links__work-link {
    border: 1px solid #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: #ffffff;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    border: 1px #ffffff;
}

.dark-theme .container {
    max-width: 800px;
    margin: 20px auto;
    background: #333333;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    border: 1px solid black;
}

.section_left__header {
    text-align: center
    position: relative;
}

.section_left__header__image {
    border: 3px solid black;
    float: right;
    width: 400px;
    border-radius: 50%;
    height: auto;
    display: flex;
    margin-left: 1px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    margin: 0;
    font-size: 24px;
}

h1, h2 {
    color: #555;
}

.section {
    margin-bottom: 20px;
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid #ff9a9e;
}

.section_left {
    margin-bottom: 20px;
    background: #fafafa;
    padding: 15px;
    border-radius: 8px;
    border-left: 5px solid #ff9a9e;
    text-align: left;
}

.section_left__section_added {
    margin-bottom: 20px;
    background: #fafafa;
    padding: 15px;
    text-align: center;
}

.dark-theme ul li {
    background: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    color: black;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #ffe0e0;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
}

.social-links {
    position: static;
    float: right;
    display: flex;
    justify-content: start;
    padding: 10px;
    margin: 3px;
}

.social-links a {
    text-decoration: none;
    padding: 1px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

#open-feedback-popup {
    position: static;
    float: left;
    display: flex;
    border: none;
    justify-content: start;
    background-color: inherit;
    padding: 10px;
    top: 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin: 24px;
}

#open-feedback-popup a {
    text-decoration: none;
    padding: 1px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    color: white;
}

#open-feedback-popup:hover {
    background: #eee;
    color: black;
}

.social-links a.social-links__telegram {
    background-color: #29abe2;
    margin: 0 8px;
}

.social-links a.social-links__vk {
    background-color: #4c75a3;
    margin: 0 8px;
}

.social-links a.social-links__github {
    background-color: #333;
    margin: 0 8px;
    border: 1px solid white;
}

.social-links a:hover {
    opacity: 0.8;
    animation: pop 0.5s ease;
}

.section_left__hobbies {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_left__hobbies__hobbie-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.section_left__hobbies__hobbie-images__hobbie-image {
    flex-direction: column;
    max-width: 73px;
    max-height: 73px;
    width: 73px;
    height: auto;
    border: 3px solid black;
    float: right;
    height: auto;
    display: flex;
    padding: 1px;
    border-radius: 100%;
}

.section_left__text-and-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_left__text-and-links__work-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section_left__text-and-links__work-links__work-link {
    max-width: 80px;
    max-height: 80px;
    border: 3px solid black;
    float: right;
    height: auto;
    display: flex;
    padding: 1px;
}

.section_left__text-and-links__work-links a:hover {
    opacity: 0.8;
    animation: pop 0.5s ease;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    padding-bottom: 0.3em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
}

@keyframes pop {
    0% { transform: scale(1); }
    50% { transform: scale(1.05); }
    100% { transform: scale(1); }
}

.divider {
    border-top: 3px solid black;
    margin-top: 5px;
}

#theme-toggle {
    width: 50px;
    height: 40px;
    background-image: linear-gradient(to right, black 50%, white 50%);
    border: 5px solid black;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
}

.dark-theme #theme-toggle {
    background-image: linear-gradient(to right, white 50%, black 50%);
    border-color: white;
}

.mouse-parallax {
    height: 1000px;
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
}
.mouse-parallax-bg {
    position: absolute;
    background-image: url("Сити.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0.1s ease;
}

#navbar {
    display: block;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 2px 0;
    text-align: center;
}

.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#countdown {
    font-family: Arial, sans-serif;
    color: black;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.dark-theme #countdown {
    background-color: #333333;
    color: white;
}

#timer span {
    font-weight: bold;
    color: #007BFF;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content {
    position: relative;
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.close {
    cursor: pointer;
    position: absolute;
    bottom: 41%;
    left: 87%;
    font-size: 30px;
    color: black;
    padding: 20px;
}

.gallery-img {
    width: 100px;
    margin: 10px;
    cursor: pointer;
    transition: transform 0.2s;
}

.gallery-img:hover {
    transform: scale(1.1);
}

.popup_gallery {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-img {
    max-width: 80%;
    max-height: 80%;
}

.close_gallery {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 40px;
    color: red;
    padding: 20px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: white;
    font-size: 30px;
    user-select: none;
    padding: 16px;
    transition: background 0.6s ease;
}

.prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.8);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.feedback-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.feedback-popup.show {
    display: flex;
    opacity: 1;
    visibility: visible;
}

.feedback-content {
    position: relative;
    background: white;
    padding: 70px;
    border-radius: 5px;
    width: 400px;
    color: black;
}

.dark-theme .feedback-content {
    background: #333333;
    color: white;
}

.close-feedback {
    cursor: pointer;
    position: absolute;
    bottom: 85%;
    left: 90%;
    font-size: 30px;
    color: black;
    padding: 20px;
}

#feedback-form label {
    display: block;
    margin-bottom: 10px;
}

#feedback-form input, #feedback-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    margin-left: -10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button-loading {
    background-color: #FFA500;
    cursor: wait;
}

.button-success {
    background-color: #4CAF50;
    cursor: default;
}

#feedback-form button {
    padding: 10px 15px;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .social-links a {
        font-size: 1.2rem;
    }
    
    .dark-theme .social-links a {
        font-size: 1.2rem;
    }
    
    .dark-theme #open-feedback-popup {
        font-size: 1.2rem;
    }
    
    .dark-theme #open-feedback-popup {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    body, p {
        line-height: 1.32;
        font-size: 1rem;
    }
    
    .social-links a {
        font-size: 1rem;
        padding: 0.4em 0.6em;
    }
    
    .section_left__header__image {
        max-width: 220px;
    }
    
    .dark-theme .social-links a {
        font-size: 1rem;
        padding: 0.4em 0.6em;
    }
    
    .dark-theme #open-feedback-popup {
        font-size: 1rem;
        padding: 0.25em 0.6em;
    }
    
    #open-feedback-popup {
        font-size: 1rem;
        padding: 0.25em 0.6em;
    }
}
